

services:
  server:
    build: ./server
    ports:
      - "5001:5001"
    environment:
      - MONGODB_URI=mongodb://mongo:27017/qa-share
      - PORT=5001
      - JWT_SECRET=secret  # You should change this or load from .env
    depends_on:
      - mongo
    networks:
      - app-network

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongo-data:
